<div class="input-group mb-4">
  <h4 class="mb-4 f-w-400">Changez votre mot de passe</h4>
  <div class="input-group mb-2">
    <input type="email" class="form-control" placeholder="Adresse email">
  </div>
  <div class="input-group mb-2">
    <input type="password" class="form-control" placeholder="Nouveau mot de passe">
  </div>
  <div class="input-group mb-4">
    <input type="password" class="form-control" placeholder="Confirmer nouveau mot de passe">
  </div>
</div>
<button class="btn btn-block btn-primary mb-4">Changer mot de passe</button>
<div class="text-center">
  <div class="saprator my-4"><span>OU</span></div>
  <p class="mt-4">Vous avez déjà un compte ? <a [routerLink]="['/auth/signin']" class="f-w-400">Se Connecter</a></p>
  <!-- <p class="mb-0 text-muted">Vous n’avez pas de compte ? <a [routerLink]="['/auth/signup']" class="f-w-400">S'Inscrire</a></p> -->
</div>
