<div class="details">
  <div class="details-item">
    <h5>Type de membre</h5>
    <span>{{item.typeMembre.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Matricule</h5>
    <span>{{item.matricule}}</span>
  </div>
  <div class="details-item">
    <h5>Genre</h5>
    <span>{{item.genre}}</span>
  </div>
  <div class="details-item">
    <h5>Nom</h5>
    <span>{{item.nom}}</span>
  </div>
  <div class="details-item">
    <h5>Prénoms</h5>
    <span>{{item.prenoms}}</span>
  </div>
  <div class="details-item">
    <h5>Fonction</h5>
    <span>{{item.fonction}}</span>
  </div>
  <div class="details-item">
    <h5>Contact</h5>
    <span>{{item.contact}}</span>
  </div>
  <div class="details-item">
    <h5>Date création plantation</h5>
    <span>{{item.dateCreationPlantation | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="details-item">
    <h5>Année d'estimation</h5>
    <span>{{item.estimationAnnee}}</span>
  </div>
  <div class="details-item">
    <h5>Superficie totale</h5>
    <span>{{item.superficieTotale}}</span>
  </div>
  <div class="details-item">
    <h5>Estimation production</h5>
    <span>{{item.estimationProduction}}</span>
  </div>
  <div class="details-item">
    <h5>Section</h5>
    <span>{{item.section.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Créé le</h5>
    <span>{{item.created | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="details-item">
    <h5>Modifié le</h5>
    <span>{{item.updated | date: 'dd/MM/yyyy'}}</span>
  </div>
</div>
