<div class="details">
  <div class="details-item">
    <h5>Client</h5>
    <span>{{item.client.civilite}} {{item.client.nom}} {{item.client.prenoms}}</span>
  </div>
  <div class="details-item">
    <h5>Contact client</h5>
    <span>{{item.client.contact}}</span>
  </div>
  <div class="details-item">
    <h5>Stock produit</h5>
    <span>{{item.stockProduit.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Spéculation</h5>
    <span>{{item.speculation.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Quantité</h5>
    <span>{{item.quantite}}</span>
  </div>
  <div class="details-item">
    <h5>Prix</h5>
    <span>{{item.prix}}</span>
  </div>
  <div class="details-item">
    <h5>Date</h5>
    <span>{{item.date | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="details-item">
    <h5>Créé le</h5>
    <span>{{item.created | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="details-item">
    <h5>Modifié le</h5>
    <span>{{item.updated | date: 'dd/MM/yyyy'}}</span>
  </div>
</div>
