<div class="details">
  <div class="details-item">
    <h5>Numero de déchargement</h5>
    <span>{{item.numeroDechargement}}</span>
  </div>
  <div class="details-item">
    <h5>Date de chargement</h5>
    <span>{{item.dateChargement | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="details-item">
    <h5>Date de déchargement</h5>
    <span>{{item.dateDechargement | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="details-item">
    <h5>Heure de déchargement</h5>
    <span>{{item.heureDechargement}}</span>
  </div>
  <div class="details-item">
    <h5>Zone de déchargement</h5>
    <span>{{item.zoneDechargement.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Pont bascule</h5>
    <span>{{item.pontBascule.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Magasin</h5>
    <span>{{item.magasin.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Site</h5>
    <span>{{item.site.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Région</h5>
    <span>{{item.region.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Département</h5>
    <span>{{item.departement.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Sous préfecture</h5>
    <span>{{item.sousPrefecture.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Ville</h5>
    <span>{{item.ville.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Village</h5>
    <span>{{item.village.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Exportateur</h5>
    <span>{{item.exportateur.nom}} {{item.exportateur.prenoms}}</span>
  </div>
  <div class="details-item">
    <h5>Transporteur</h5>
    <span>{{item.transporteur.nom}} {{item.transporteur.prenoms}}</span>
  </div>
  <div class="details-item">
    <h5>Transport</h5>
    <span>{{item.transport.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Véhicule</h5>
    <span>{{item.vehicule.immatriculation}}</span>
  </div>
  <div class="details-item">
    <h5>Chauffeur</h5>
    <span>{{item.chauffeur.nom}} {{item.chauffeur.prenoms}}</span>
  </div>
  <div class="details-item">
    <h5>Stock produit</h5>
    <span>{{item.stockProduit.libelle}}</span>
  </div>
  <div class="details-item">
    <h5>Nom controlleur TH</h5>
    <span>{{item.nomControlleurTh}}</span>
  </div>
  <div class="details-item">
    <h5>TH départ</h5>
    <span>{{item.thDepart}}</span>
  </div>
  <div class="details-item">
    <h5>Nombre de sacs tonnage</h5>
    <span>{{item.nombreSacTonnage}}</span>
  </div>
  <div class="details-item">
    <h5>Nom acheteur</h5>
    <span>{{item.nomAcheteur}}</span>
  </div>
  <div class="details-item">
    <h5>Contact acheteur</h5>
    <span>{{item.contactAcheteur}}</span>
  </div>
  <div class="details-item">
    <h5>Créé le</h5>
    <span>{{item.created | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="details-item">
    <h5>Modifié le</h5>
    <span>{{item.updated | date: 'dd/MM/yyyy'}}</span>
  </div>
</div>
