<div class="row">
  <div class="col-xl-4 col-md-6 cursor-pointer" (click)="goToApp('cacao')">
    <app-card [customHeader]="true" headerClass="border-0 p-2 pb-0" [options]="false" cardClass="user-card user-card-1" blockClass="pt-0 users-contact">
      <div class="app-card-header">
        <div class="text-center">
          <h3 class="mb-1 mt-3 f-w-400">RICVA Cacao</h3>
          <p class="mb-3 text-muted">Gestion de cacao</p>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6 cursor-pointer" (click)="goToApp('cajou')">
    <app-card [customHeader]="true" headerClass="border-0 p-2 pb-0" [options]="false" cardClass="user-card user-card-1" blockClass="pt-0 users-contact">
      <div class="app-card-header">
        <div class="text-center">
          <h3 class="mb-1 mt-3 f-w-400">RICVA Cajou</h3>
          <p class="mb-3 text-muted">Gestion de cajou</p>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6 cursor-pointer" (click)="goToApp('anarcade')">
    <app-card [customHeader]="true" headerClass="border-0 p-2 pb-0" [options]="false" cardClass="user-card user-card-1" blockClass="pt-0 users-contact">
      <div class="app-card-header">
        <div class="text-center">
          <h3 class="mb-1 mt-3 f-w-400">RICVA Anarcade</h3>
          <p class="mb-3 text-muted">Gestion d'anarcade</p>
        </div>
      </div>
    </app-card>
  </div>
</div>