<form [formGroup]="createUpdateForm" class="editForm">
  <div class="row">
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="typePersonne" class="form-label">Personnalité juridique</label>
        <select class="form-control" id="typePersonne" formControlName="typePersonne"
          [ngClass]="{'is-invalid': !createUpdateControls.typePersonne.valid && (createUpdateControls.typePersonne.dirty || createUpdateControls.typePersonne.touched)}">
          <option value>Selectionner personnalité juridique...</option>
          <option *ngFor="let item of typePersonneList" [ngValue]="item">{{item.libelle}}</option>
        </select>
        <label *ngIf="!createUpdateControls.typePersonne.valid && (createUpdateControls.typePersonne.dirty || createUpdateControls.typePersonne.touched)"
          id="typePersonne-error" class="error jquery-validation-error small form-text invalid-feedback">La personnalité juridique est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="raisonSocial" class="form-label">Raison social</label>
        <input type="text" class="form-control" id="raisonSocial" formControlName="raisonSocial" placeholder="Raison social"
          [ngClass]="{'is-invalid': !createUpdateControls.raisonSocial.valid && (createUpdateControls.raisonSocial.dirty || createUpdateControls.raisonSocial.touched)}">
        <label *ngIf="!createUpdateControls.raisonSocial.valid && (createUpdateControls.raisonSocial.dirty || createUpdateControls.raisonSocial.touched)"
          id="raisonSocial-error" class="error jquery-validation-error small form-text invalid-feedback">La raison social est requise.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="activite" class="form-label">Activité</label>
        <input type="text" class="form-control" id="activite" formControlName="activite" placeholder="Activité"
          [ngClass]="{'is-invalid': !createUpdateControls.activite.valid && (createUpdateControls.activite.dirty || createUpdateControls.activite.touched)}">
        <label *ngIf="!createUpdateControls.activite.valid && (createUpdateControls.activite.dirty || createUpdateControls.activite.touched)"
          id="activite-error" class="error jquery-validation-error small form-text invalid-feedback">L'activité est requise.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="rccm" class="form-label">RCCM</label>
        <input type="text" class="form-control" id="rccm" formControlName="rccm" placeholder="RCCM"
          [ngClass]="{'is-invalid': !createUpdateControls.rccm.valid && (createUpdateControls.rccm.dirty || createUpdateControls.rccm.touched)}">
        <label *ngIf="!createUpdateControls.rccm.valid && (createUpdateControls.rccm.dirty || createUpdateControls.rccm.touched)"
          id="rccm-error" class="error jquery-validation-error small form-text invalid-feedback">Le rccm est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="cnps" class="form-label">CNPS</label>
        <input type="text" class="form-control" id="cnps" formControlName="cnps" placeholder="CNPS"
          [ngClass]="{'is-invalid': !createUpdateControls.cnps.valid && (createUpdateControls.cnps.dirty || createUpdateControls.cnps.touched)}">
        <label *ngIf="!createUpdateControls.cnps.valid && (createUpdateControls.cnps.dirty || createUpdateControls.cnps.touched)"
          id="cnps-error" class="error jquery-validation-error small form-text invalid-feedback">Le cnps est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="siteWeb" class="form-label">Site web</label>
        <input type="text" class="form-control" id="siteWeb" formControlName="siteWeb" placeholder="Site web"
          [ngClass]="{'is-invalid': !createUpdateControls.siteWeb.valid && (createUpdateControls.siteWeb.dirty || createUpdateControls.siteWeb.touched)}">
        <label *ngIf="!createUpdateControls.siteWeb.valid && (createUpdateControls.siteWeb.dirty || createUpdateControls.siteWeb.touched)"
          id="siteWeb-error" class="error jquery-validation-error small form-text invalid-feedback">Le site web est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="civilite" class="form-label">Civilité</label>
        <select class="form-control" id="civilite" formControlName="civilite"
          [ngClass]="{'is-invalid': !createUpdateControls.civilite.valid && (createUpdateControls.civilite.dirty || createUpdateControls.civilite.touched)}">
          <option value>Selectionner civilité...</option>
          <option value="Monsieur">Monsieur</option>
          <option value="Madame">Madame</option>
        </select>
        <label *ngIf="!createUpdateControls.civilite.valid && (createUpdateControls.civilite.dirty || createUpdateControls.civilite.touched)"
          id="civilite-error" class="error jquery-validation-error small form-text invalid-feedback">La civilité est requise.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom"
          [ngClass]="{'is-invalid': !createUpdateControls.nom.valid && (createUpdateControls.nom.dirty || createUpdateControls.nom.touched)}">
        <label *ngIf="!createUpdateControls.nom.valid && (createUpdateControls.nom.dirty || createUpdateControls.nom.touched)"
          id="nom-error" class="error jquery-validation-error small form-text invalid-feedback">Le nom est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="prenoms" class="form-label">Prénoms</label>
        <input type="text" class="form-control" id="prenoms" formControlName="prenoms" placeholder="Prénoms"
          [ngClass]="{'is-invalid': !createUpdateControls.prenoms.valid && (createUpdateControls.prenoms.dirty || createUpdateControls.prenoms.touched)}">
        <label *ngIf="!createUpdateControls.prenoms.valid && (createUpdateControls.prenoms.dirty || createUpdateControls.prenoms.touched)"
          id="prenoms-error" class="error jquery-validation-error small form-text invalid-feedback">Le prénoms est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="email" class="form-label">Adresse email</label>
        <input type="text" class="form-control" id="email" formControlName="email" placeholder="Adresse email"
          [ngClass]="{'is-invalid': !createUpdateControls.email.valid && (createUpdateControls.email.dirty || createUpdateControls.email.touched)}">
        <label *ngIf="!createUpdateControls.email.valid && (createUpdateControls.email.dirty || createUpdateControls.email.touched)"
          id="email-error" class="error jquery-validation-error small form-text invalid-feedback">L'adresse email est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="contact" class="form-label">Contact</label>
        <input type="number" class="form-control" id="contact" formControlName="contact" placeholder="Contact"
          [ngClass]="{'is-invalid': !createUpdateControls.contact.valid && (createUpdateControls.contact.dirty || createUpdateControls.contact.touched)}">
        <label *ngIf="!createUpdateControls.contact.valid && (createUpdateControls.contact.dirty || createUpdateControls.contact.touched)"
          id="contact-error" class="error jquery-validation-error small form-text invalid-feedback">Le contact est requis.</label>
      </div>
    </div>
  </div>
</form>
