<h4 class="mb-3 f-w-400">Réinitialisez votre mot de passe</h4>
<div class="input-group mb-4">
  <input type="email" class="form-control" placeholder="Adresse email">
</div>
<button class="btn btn-block btn-primary mb-4">Réinitialiser mot de passe</button>
<div class="text-center">
  <div class="saprator my-4"><span>OU</span></div>
  <p class="mt-4">Vous avez déjà un compte ? <a [routerLink]="['/auth/signin']" class="f-w-400">Se Connecter</a></p>
  <!-- <p class="mb-0 text-muted">Vous n’avez pas de compte ? <a [routerLink]="['/auth/signup']" class="f-w-400">S'Inscrire</a></p> -->
</div>
