<form [formGroup]="createUpdateForm" class="editForm">
  <div class="row">
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="quantite" class="form-label">Quantité</label>
        <input type="number" class="form-control" id="quantite" formControlName="quantite" placeholder="Quantité"
          [ngClass]="{'is-invalid': !createUpdateControls.quantite.valid && (createUpdateControls.quantite.dirty || createUpdateControls.quantite.touched)}">
        <label *ngIf="!createUpdateControls.quantite.valid && (createUpdateControls.quantite.dirty || createUpdateControls.quantite.touched)"
          id="quantite-error" class="error jquery-validation-error small form-text invalid-feedback">La quantité est requise.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="prix" class="form-label">Prix</label>
        <input type="number" class="form-control" id="prix" formControlName="prix" placeholder="Prix"
          [ngClass]="{'is-invalid': !createUpdateControls.prix.valid && (createUpdateControls.prix.dirty || createUpdateControls.prix.touched)}">
        <label *ngIf="!createUpdateControls.prix.valid && (createUpdateControls.prix.dirty || createUpdateControls.prix.touched)"
          id="prix-error" class="error jquery-validation-error small form-text invalid-feedback">Le prix est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="nombre_sacs" class="form-label">Nombre de sacs</label>
        <input type="number" class="form-control" id="nombre_sacs" formControlName="nombre_sacs" placeholder="Nombre de sacs"
          [ngClass]="{'is-invalid': !createUpdateControls.nombre_sacs.valid && (createUpdateControls.nombre_sacs.dirty || createUpdateControls.nombre_sacs.touched)}">
        <label *ngIf="!createUpdateControls.nombre_sacs.valid && (createUpdateControls.nombre_sacs.dirty || createUpdateControls.nombre_sacs.touched)"
          id="nombre_sacs-error" class="error jquery-validation-error small form-text invalid-feedback">Le nombre de sacs est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="fournisseur" class="form-label">Fournisseur</label>
        <select class="form-control" id="fournisseur" formControlName="fournisseur"
          [ngClass]="{'is-invalid': !createUpdateControls.fournisseur.valid && (createUpdateControls.fournisseur.dirty || createUpdateControls.fournisseur.touched)}">
          <option value>Selectionner fournisseur...</option>
          <option *ngFor="let item of fournisseurList" [ngValue]="item">{{item.nom}} {{item.prenoms}}</option>
        </select>
        <label *ngIf="!createUpdateControls.fournisseur.valid && (createUpdateControls.fournisseur.dirty || createUpdateControls.fournisseur.touched)"
          id="fournisseur-error" class="error jquery-validation-error small form-text invalid-feedback">Le fournisseur est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="speculation" class="form-label">Spéculation</label>
        <select class="form-control" id="speculation" formControlName="speculation"
          [ngClass]="{'is-invalid': !createUpdateControls.speculation.valid && (createUpdateControls.speculation.dirty || createUpdateControls.speculation.touched)}">
          <option value>Selectionner spéculation...</option>
          <option *ngFor="let item of speculationList" [ngValue]="item">{{item.libelle}}</option>
        </select>
        <label *ngIf="!createUpdateControls.speculation.valid && (createUpdateControls.speculation.dirty || createUpdateControls.speculation.touched)"
          id="speculation-error" class="error jquery-validation-error small form-text invalid-feedback">La spéculation est requise.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="lieuAppro" class="form-label">Lieu d'approvisionnement</label>
        <select class="form-control" id="lieuAppro" formControlName="lieuAppro"
          [ngClass]="{'is-invalid': !createUpdateControls.lieuAppro.valid && (createUpdateControls.lieuAppro.dirty || createUpdateControls.lieuAppro.touched)}">
          <option value>Selectionner lieu d'approvisionnement...</option>
          <option *ngFor="let item of lieuApproList" [ngValue]="item">{{item.libelle}}</option>
        </select>
        <label *ngIf="!createUpdateControls.lieuAppro.valid && (createUpdateControls.lieuAppro.dirty || createUpdateControls.lieuAppro.touched)"
          id="lieuAppro-error" class="error jquery-validation-error small form-text invalid-feedback">Le lieu d'approvisionnement est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date" placeholder="Date"
          [ngClass]="{'is-invalid': !createUpdateControls.date.valid && (createUpdateControls.date.dirty || createUpdateControls.date.touched)}">
        <label *ngIf="!createUpdateControls.date.valid && (createUpdateControls.date.dirty || createUpdateControls.date.touched)"
          id="date-error" class="error jquery-validation-error small form-text invalid-feedback">La date est requise.</label>
      </div>
    </div>
  </div>
</form>
