<h3 class="mb-4 f-w-400">Se Connecter</h3>
<app-alert *ngIf="error" type="danger">{{error}}</app-alert>
<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="input-group mb-3">
        <input type="email" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': loginControls.username.dirty && loginControls.username.invalid }" placeholder="Adresse email">
    </div>
    <div class="input-group mb-4">
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': loginControls.password.dirty && loginControls.password.invalid }" placeholder="Mot de passe">
    </div>
    <div class="custom-control custom-checkbox text-left mb-4 mt-2">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Se souvenir de moi.</label>
    </div>
    <button type="submit" [disabled]="!loginForm.valid || loading" class="btn btn-block btn-primary mb-0">
        <ng-container *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Chargement...</span>
        </ng-container>
        Se Connecter
    </button>
    <div class="text-center">
        <div class="saprator my-4"><span>OU</span></div>
        <p class="mb-2 text-muted">Mot de passe oublié ? <a [routerLink]="['/auth/reset-password']" class="f-w-400">Réinitialiser</a></p>
        <!-- <p class="mb-0 text-muted">Vous n’avez pas de compte ? <a [routerLink]="['/auth/signup']" class="f-w-400">S'Inscrire</a></p> -->
    </div>
</form>
