<form [formGroup]="createUpdateForm" class="editForm">
  <div class="row rowForm">
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="civilite" class="form-label">Civilité</label>
        <select class="form-control" id="civilite" formControlName="civilite"
          [ngClass]="{'is-invalid': !createUpdateControls.civilite.valid && (createUpdateControls.civilite.dirty || createUpdateControls.civilite.touched)}">
          <option value>Selectionner civilité...</option>
          <option value="Monsieur">Monsieur</option>
          <option value="Madame">Madame</option>
        </select>
        <label *ngIf="!createUpdateControls.civilite.valid && (createUpdateControls.civilite.dirty || createUpdateControls.civilite.touched)"
          id="civilite-error" class="error jquery-validation-error small form-text invalid-feedback">La civilité est requise.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom"
          [ngClass]="{'is-invalid': !createUpdateControls.nom.valid && (createUpdateControls.nom.dirty || createUpdateControls.nom.touched)}">
        <label *ngIf="!createUpdateControls.nom.valid && (createUpdateControls.nom.dirty || createUpdateControls.nom.touched)"
          id="nom-error" class="error jquery-validation-error small form-text invalid-feedback">Le nom est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="prenoms" class="form-label">Prénoms</label>
        <input type="text" class="form-control" id="prenoms" formControlName="prenoms" placeholder="Prénoms"
          [ngClass]="{'is-invalid': !createUpdateControls.prenoms.valid && (createUpdateControls.prenoms.dirty || createUpdateControls.prenoms.touched)}">
        <label *ngIf="!createUpdateControls.prenoms.valid && (createUpdateControls.prenoms.dirty || createUpdateControls.prenoms.touched)"
          id="prenoms-error" class="error jquery-validation-error small form-text invalid-feedback">Le prénoms est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="email" class="form-label">Adresse email</label>
        <input type="text" class="form-control" id="email" formControlName="email" placeholder="Adresse email"
          [ngClass]="{'is-invalid': !createUpdateControls.email.valid && (createUpdateControls.email.dirty || createUpdateControls.email.touched)}">
        <label *ngIf="!createUpdateControls.email.valid && (createUpdateControls.email.dirty || createUpdateControls.email.touched)"
          id="email-error" class="error jquery-validation-error small form-text invalid-feedback">L'adresse email est requis.</label>
      </div>
    </div>
    <div [ngClass]="inputColClass">
      <div class="form-group">
        <label for="contact" class="form-label">Contact</label>
        <input type="number" class="form-control" id="contact" formControlName="contact" placeholder="Contact"
          [ngClass]="{'is-invalid': !createUpdateControls.contact.valid && (createUpdateControls.contact.dirty || createUpdateControls.contact.touched)}">
        <label *ngIf="!createUpdateControls.contact.valid && (createUpdateControls.contact.dirty || createUpdateControls.contact.touched)"
          id="contact-error" class="error jquery-validation-error small form-text invalid-feedback">Le contact est requis.</label>
      </div>
    </div>
    <ng-container *ngIf="createUpdateControls.mpass && createUpdateControls.cmpass">
      <div [ngClass]="inputColClass">
        <div class="form-group">
          <label for="mpass" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="mpass" formControlName="mpass" placeholder="Mot de passe"
            [ngClass]="{'is-invalid': !createUpdateControls.mpass.valid && (createUpdateControls.mpass.dirty || createUpdateControls.mpass.touched)}">
          <label *ngIf="!createUpdateControls.mpass.valid && (createUpdateControls.mpass.dirty || createUpdateControls.mpass.touched)"
            id="mpass-error" class="error jquery-validation-error small form-text invalid-feedback">Le mot de passe est requis.</label>
        </div>
      </div>
      <div [ngClass]="inputColClass">
        <div class="form-group">
          <label for="cmpass" class="form-label">Confirmation mot de passe</label>
          <input type="password" class="form-control" id="cmpass" formControlName="cmpass" placeholder="Confirmation mot de passe"
            [ngClass]="{'is-invalid': !createUpdateControls.cmpass.valid && (createUpdateControls.cmpass.dirty || createUpdateControls.cmpass.touched)}">
          <label *ngIf="!createUpdateControls.cmpass.valid && (createUpdateControls.cmpass.dirty || createUpdateControls.cmpass.touched)"
            id="cmpass-error" class="error jquery-validation-error small form-text invalid-feedback">La confirmation mot de passe est requise.</label>
        </div>
      </div>
    </ng-container>
  </div>
</form>
